
<script type="text/javascript" src="dist/js/tableUpdate.js"></script>

<link rel="stylesheet" href="plugins/select2/select2.min.css">
<script src="plugins/select2/select2.full.min.js"></script>

<div class="panel panel-default">
      <div class="panel-body"> 
    <div class="form-group">
          <label>Subject</label>
          <select id="subject" class="form-control select2"  style="width: 100%;"><option></option></select>
          <label>NRC</label>
          <select id="nrc" class="form-control select2" style="width: 100%;"><option></option></select>
    </div>
  </div>

</div>

<table class="display responsive" id="students" style="width:100%">      
  <thead>
    <tr>
      <th style="display:none" name="id"></th>
      <!-- <th>Id</th> -->
      <th name="name">Name</th>
      <th name="last_name">Last Name</th>
      <th name="email">Email</th>
      <th name="saldo">Budget</th> 
      <th name="codigo">Code</th> 
    </tr>
  </thead>

</table>
