<script type="text/javascript">
// hacer eso con un addRow
</script>

<script type="text/javascript" src="dist/js/tableUpdate.js"></script>

<table class="display responsive" id="students" style="width:100%">      
  <thead>
    <tr>
      <th style="display:none" name="id"></th>
      <!-- <th>Id</th> -->
      <th name="name">Name</th>
      <th name="last_name">Last Name</th>
      <th name="email">Email</th>
      <th name="saldo">Budget</th> 
      <th name="codigo">Code</th> 
    </tr>
  </thead>

</table>
