
<script type="text/javascript" src="dist/js/tableUpdate.js"></script>

<link rel="stylesheet" href="plugins/select2/select2.min.css">
<script src="plugins/select2/select2.full.min.js"></script>

<div class="panel panel-default">
      <div class="panel-body"> 
    <div class="form-group">
          <label>Subject</label>
          <select id="subject" class="form-control select2"  style="width: 100%;"><option></option></select>
          <label>NRC</label>
          <select id="nrc" class="form-control select2" style="width: 100%;"><option></option></select>
          <label>Students</label>
          <select id="student" class="form-control select2" multiple="multiple" data-placeholder="Select a student" style="width: 100%;"></select>
    </div>
  </div>

</div>

<table class="display responsive" id="students" style="width:100%">      
  <thead>
    <tr>
      <th style="display:none" name="id"></th>
      <!-- <th>Id</th> -->
      <th name="name">Name</th>
      <th name="last_name">Last Name</th>
      <th name="email">Email</th>
      <th name="saldo">Budget</th> 
      <th name="codigo">Code</th> 
    </tr>
  </thead>

</table>

<script type="text/javascript">
  var names=[]; var id_names = []; var data2 = [];

  $.ajax({
type: 'GET',
url: 'transfer',
success: function(data){
  /*console.log(data)
  res_names = data['names'];
  tabla = data['tabla']; names=[];id_names=[];
  for (j in res_names) {
    names.push(res_names[j]['name']);
    id_names.push(res_names[j]['id']);
    data2.push({id: res_names[j]['id'], text: res_names[j]['name']})
  }
      //Initialize Select2 Elements
    $("#subject").select2({
      allowClear: true,
      data: data2,
      placeholder: "Select a subject"

    }); */

    var subjects = data['classes'];
    var NRCs = data['NRCs'];
    var stdNames = data['students_names'];
    var stdIDs = data['students_ids'];
    var data2 = [];
    for(i = 0; i < subjects.length; i++){
      data2.push({id: i, text: subjects[i]})
    }
    
    //Aqui empieza los select2

     //Initialize Select2 Elements
      $("#subject").select2({
        allowClear: true,
        data: data2,
        placeholder: "Select a subject"
      });
      $("#nrc").select2({
        allowClear: true,
        data: [],
        placeholder: "Select a NRC"
      });
      $("#student").select2({
        data: []
      });

      $("#subject").change(function() {
        data_nrc = [];
        i_subj = $("#subject").val();
      console.log('indice materia:',i_subj);
        if (i_subj) {
          for(i = 0; i < i_subj.length; i++){
            for(j = 0; j < NRCs[i_subj[i]].length; j++){
            data_nrc.push({id: j, text: NRCs[i_subj[i]][j]})
            }
          } 
        }
        console.log('NRCs: ',NRCs, data_nrc)
        $("#nrc").html('<option></option>');
        $("#nrc").select2({
          data: data_nrc,
          placeholder: "Select a NRC",
          allowClear: true
        });
    });

    $("#nrc").change(function() {
        data_stds = [];
        i_nrc = $("#nrc").val();
        i_subj = $("#subject").val();
        console.log('indices nrc: ',i_nrc)
        console.log(i_nrc,i_subj)
        if (i_nrc && i_subj) {
          for(k = 0; k < i_subj.length; k++){
            for(i = 0; i < i_nrc.length; i++){
              for(j = 0; j < stdNames[i_subj[k]][i_nrc[i]].length; j++){
                if (stdIDs[i_subj[k]][i_nrc[i]][j]) {
                  data_stds.push({id: stdIDs[i_subj[k]][i_nrc[i]][j], text: stdNames[i_subj[k]][i_nrc[i]][j]})
                }
              
              }
            } 
          }
        } 
        console.log('daos stds: ',data_stds)
        $("#student").html('');
        $("#student").select2({
          data: data_stds
        });
    });

    //Termina select2


}
});



function getData() {
  
}


</script>