<li class="active"><a href="shopping_student"><i class="fa fa-shopping-cart"></i><span>Shopping Module</span></a></li>
<li><a href="loans_student"><i class="fa fa-calendar-plus-o"></i> <span>Loans Module</span></a></li>
<li><a href="auction_student"><i class="fa fa-money"></i> <span>Auction Module</span></a></li>
<li><a href="transfer_student"><i class="fa fa-exchange"></i> <span>Transfer Module</span></a></li>
<li><a href="historicalTransactions"><i class="fa fa-history"></i> <span>Historical Module</span></a></li>

<!-- <li class="treeview">
  <a href="#"><i class="fa fa-exchange"></i> <span>Transferences</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#">Transfer</a></li>
  </ul>
</li> -->

<script type="text/javascript">
  $('li').each(function(){
      if(window.location.href.indexOf($(this).find('a:first').attr('href'))>-1)
      {
        $(this).addClass('active').siblings().removeClass('active');
      }
  });
</script>