<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="plugins/select2/select2.min.css">
<script src="plugins/select2/select2.full.min.js"></script>
<script type="text/javascript">
$(function() {
  $.ajax({ 
    type: 'GET', 
    url: 'get_myskin', 
    dataType: 'json', 
    success: function(data){ //Sending the output to a function
      dictColors = [{'skin-red':'#dd4b39','skin-red-light':'#dd4b39','skin-black':'#fff','skin-black-light':'#fff','skin-blue':'#3c8dbc','skin-blue-light':'#3c8dbc','skin-purple':'#605ca8','skin-purple-light':'#605ca8','skin-green':'#00a65a','skin-green-light':'#00a65a','skin-yellow':'#f39c12','skin-yellow-light':'#f39c12'}]
      $('#bHeader').css('background-color',dictColors[0][data[0]['skin']]);
      $('#bInfo').css('border-top-color',dictColors[0][data[0]['skin']])
      $("#nAuctionHeader").css('background-color',dictColors[0][data[0]['skin']]);
      $("#auctCreated").css('border-top-color',dictColors[0][data[0]['skin']]);
    } 
  }); //AJAX to energy calculation module
});
</script>
<div class="row"> 
  <h2 style="align-self: center;"></h2>
  <div class="col" style="padding-left:3%; padding-right:3%" >
    <div class="box box-info" id="auctCreated" style="visibility: hidden;display:none;border-top-color:#dd4b39">
      <div class="box-header with-border" id="nAuctionHeader" style="background-color:#00a65a;color:#fff">
        <h3 class="box-title" style="color:white;font-weight:bold;">Auction sucessfully created!!!</h3>
      </div>
    </div>
    <div class="box box-info" id="bInfo">
      <div class="box-header with-border" id="bHeader" style="color:#fff">
        <div class="form-group">
          <div class="col-md-4" style="padding-bottom:0%">
            <label>Subject</label>
            <select id="subject" class="form-control"  style="width: 100%;" required><option></option></select>
            <label style="padding-top:2%">NRC</label>
            <select id="nrc" class="form-control" style="width: 100%;" required><option></option></select>
          </div>
          <div id="Inputs" style="visibility:hidden">
            <div class="col-md-4" style="padding-bottom:0%">
              <label>Auction Name</label>
              <input id="AuctInput" type="text" class="form-control" style="width: 100%" placeholder="New Auction">
              <div class="row">
                <div class="col-md-4">
                  <label style="padding-top:7%">Initial Price</label>
                </div>
                <div class="col-md-4">
                  <label style="padding-top:7%">Quantity</label>
                </div>
                <div class="col-md-4">
                  <label style="padding-top:7%;margin-left:30px">Type</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" style="padding-bottom:0%">
                  <input id="PriceInput" type="number" class="form-control" style="width:100%;" required  min=0 step=10> 
                </div>
                <div class="col-md-2" style="padding-bottom:0%">
                  <input id="QuantityToggle" type="checkbox" data-toggle="toggle" data-on="Fixed" data-off="Unlimited">
                </div>
                <div class="col-md-2" style="padding-bottom:0%;margin-left:30px">
                  <input disabled="true" id="QuantityInput" type="number" class="form-control" placeholder="Quantity" required min=1>
                </div>
                <div class="col-md-4" style="padding-bottom:0%;width:20%">
                  <input id="TypeInput" type="checkbox"  data-toggle="toggle" data-on="Service" data-off="Good">
                </div> 
                
              </div><option></option>
            </div>
            <div class="col-md-4" style="padding-bottom:0%">
              <label style="padding-top:0%">Available Until:</label>
              <div class="row">
                <div class="col-md-4" style="padding-bottom:0%" style="width:200%">
                  <input id="DateInput" class="form-control" style="width:200%;">
                </div>
                
              </div><option></option>

            </div>
            <div class="col-md-4" style="padding-bottom:0%">
              <div class="row">
                <div class="col-md-4" style="padding-bottom:0%">
                  <button id="Release" type="button" class="btn btn-primary btn-lg btn-block" style="width:200%">Release</button>
                </div> 
              </div>        
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Goods in Auction available</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table responsive" id="g_availables">
              <thead>
                <tr>
                  <th name="concept">Concept</th>
                  <th name="price">Price</th>
                  <th name="available">Due date</th>
                  <th name="action">Action</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      <!-- /.box --> 
      </div>

      <div class="col-lg-6">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Services in Auction available</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>

              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
      
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table responsive" id="s_availables">
              <thead>
                <tr>
                  <th name="concept">Concept</th>
                  <th name="price">Price</th>
                  <th name="available">Due date</th>
                  <th name="action">Action</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      <!-- /.box --> 
      </div>
    </div> 
  </div>
</div>
<script>
 $.ajax({
    type: 'GET',
    url: 'transfer',
    success: function(data){
      var subjects = data['classes'];
      var NRCs = data['NRCs'];
      var data2 = [];
      for(i = 0; i < subjects.length; i++){
        data2.push({id: i, text: subjects[i]})
      }
      $("#subject").select2({
        data: data2,
        placeholder: "Select a subject"
      });
      $("#subject").change(function() {

        data_nrc = [];
        i_subj = $("#subject").val();
        if (i_subj) {
          for(i = 0; i < i_subj.length; i++){
            for(j = 0; j < NRCs[i_subj[i]].length; j++){
            data_nrc.push({id: j, text: NRCs[i_subj[i]][j]})
            }
          } 
        }
        $("#nrc").html('<option></option>');
        $("#nrc").select2({
          data: data_nrc,
          placeholder: "Select a NRC"
        });

        $("#nrc").change(function() {
          if($(this).text() != ""){
            $("#Inputs").css('visibility', 'visible');
             reload(false,"g");
             reload(false,"s");
          }
        });

      });
    }
  });

function reload(bandera, tabla) {
  $.ajax({
    type: 'GET',
    url: 'auction_teacher_Handler',
    data: {nrc: $('#nrc').select2('data')[0].text, reload: bandera, auction_type: tabla},
    success: function(data){
      s = ['name','price','due_date']
      table = document.getElementById(tabla + "_availables");
      if (bandera == false) {
        $(tabla + "_availables").remove();
        table.innerHTML = '<tr><th name="concept">Concept</th><th name="price">Price</th><th name="available">Due date</th><th name="action">Action</th></tr>';
      }      
      
      products = data['products'];
      table = document.getElementById(tabla + "_availables");
      for (var i = 0; i < products.length; i++) {
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.id = products[i]['id']
        // Intento de guardar el id del producto
        var temp = new Date(products[i]['due_date'])
        products[i]['due_date'] = String(temp).split('GMT')[0] //Intentando que la fecha se vea bien
        var cell = row.insertCell(-1);
        for (var j = 0; j < 3; j++) {
          var cell = row.insertCell(j);
          cell.innerHTML = products[i][s[j]];
        }   
        var cell = row.insertCell(3);    
        cell.innerHTML= "<button type='button' onclick='deleteP("+rowCount+",table.id)' class='badge bg-red'>Delete</button>";
      }        

    } // aqui termina success
  }); // aqui termina ajax
}

 function deleteP(indice,param2) {
    if(param2 == "g_availables"){
      dident = "g"
    }else{
      dident = "s"
    }
    table = document.getElementById(dident + "_availables")
    data = table.rows[indice].id
    table.deleteRow(indice);
    var rowCount = table.rows.length;
    for (var i = indice; i < rowCount.length+1; i++) {
      table.rows[i].cells[4].innerHTML = "<button type='button' onclick='deleteP("+i+",table.id)' class='badge bg-red'>Delete</button>"
    }
    $.ajax({
      type: 'GET',
      url: 'delete_auction',
      data: {id: data},
      success: function(data){      }
    });      
       
 }
 $(function() {
    $('#QuantityToggle').change(function() {
      if($(this).prop('checked') == true){
        $('#QuantityInput').prop("disabled", false); 
      }else{
        $('#QuantityInput').prop("disabled", true); 
      }
    })
  })
  $('#DateInput').datetimepicker({
    minDate: new Date(),
    format: "MM/DD/YYYY hh:mm A"
  });

  $('#Release').click(function(){
    var Due;
    var Quant;
    var Nam;
    
    Due = new Date($('#DateInput').val());

    if($('#AuctInput').val() == ""){
      Nam = "New Auction"
    }else{
      Nam = $('#AuctInput').val();
    }
    if($('#QuantityToggle').prop('checked') == false){
      Quant = 1000;
    }else{
      Quant = $('#QuantityInput').val();
    }

    var c_error = 0;
    $.ajax({
      type: 'GET',
      url: 'newAuction',
      data: {name: Nam,quantity:Quant,price: $('#PriceInput').val(), auction_type: $('#TypeInput').prop('checked'),due:Due, nrc:$('#nrc').select2('data')[0].text},
      success: function(){
        if($('#TypeInput').prop('checked')==false){
          reload(true,"g");
        }else{
          reload(true,"s"); 
        }
        $('#auctCreated').css('visibility', 'visible');
        $('#auctCreated').show().delay(3500).fadeOut();


      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (c_error<1) {
          alert("Please check your data");
          c_error += 1;
        }  
      }
    });
  });

</script>