<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<link rel="stylesheet" href="plugins/select2/select2.min.css">
<script src="plugins/select2/select2.full.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

<script type="text/javascript">
$(function() {
  $.ajax({ 
    type: 'GET', 
    url: 'get_myskin', 
    dataType: 'json', 
    success: function(data){ //Sending the output to a function
      dictColors = [{'skin-red':'#dd4b39','skin-red-light':'#dd4b39','skin-black':'#fff','skin-black-light':'#fff','skin-blue':'#3c8dbc','skin-blue-light':'#3c8dbc','skin-purple':'#605ca8','skin-purple-light':'#605ca8','skin-green':'#00a65a','skin-green-light':'#00a65a','skin-yellow':'#f39c12','skin-yellow-light':'#f39c12'}]
      $('#bHeader').css('background-color',dictColors[0][data[0]['skin']]);
      $('#bInfo').css('border-top-color',dictColors[0][data[0]['skin']])
      $('#CutHeader').css('background-color',dictColors[0][data[0]['skin']]);
      $('#CutInfo').css('border-top-color',dictColors[0][data[0]['skin']])
    } 
  }); //AJAX to energy calculation module
});
</script>
<style type="text/css">
.select2-search { color:#000 !important;   }
</style>

<div class="row"> 
  <h2 style="align-self: center;"></h2>
  
  <div class="col" style="padding-left:3%; padding-right:3%" >
    <div class="box box-info" id="prodCreated" style="visibility: hidden;display:none;border-top-color:#dd4b39">
      <div class="box-header with-border" style="background-color:#00a65a;color:#fff">
        <h3 class="box-title" style="color:white;font-weight:bold;">Product sucessfully created!!!</h3>
      </div>
    </div>
    <div class="box box-info" id="bInfo">
      <div class="box-header with-border" id="bHeader" style="color:#fff">
        <div class="form-group">
          <div class="col-md-3" style="padding-bottom:0%">
            <label>Subject</label>
            <select id="subject" class="form-control"  style="width: 100%;height:34px;" required><option></option></select>
            <label style="padding-top:2%">NRC</label>
            <select id="nrc" class="form-control" style="width: 100%;height:34px" required><option></option></select>
          </div>
          <div id="Inputs" style="visibility:hidden">
            <div class="col-md-5" style="padding-bottom:0%">
              <label>Select Group</label>
              <select id="groups" class="form-control" style="width: 100%;height:34px" required><option></option></select>
              <div class="row" style="padding-top:4%">
                <div class="col-md-6" style="padding-bottom:0%">
                  <button id="NewGroup" type="button" class="btn btn-primary btn-lg btn-block" onclick="showNew()" style="">New</button>
                </div>
                <div class="col-md-6" style="padding-bottom:0%">
                  <button id="DeleteGroup" type="button" class="btn btn-primary btn-lg btn-block" onclick="DeleteGroup()" style="">Delete</button>
                </div>
              </div>
            </div>
            <div class="col-md-2" style="padding-bottom:0%">
              <label>Lab Items</label>
              <input id="ExamQ" type="text" class="form-control" style="width: 100%" value="0" readonly>
              <label>Exam Items</label>
              <input id="LabQ" type="text" class="form-control" style="width: 100%" value="0" readonly>
            </div>            
            <div class="col-md-2" style="padding-bottom:0%">
              <label>Lab Total Price</label>
              <input id="ExamP" type="text" class="form-control" style="width: 100%" value="0" readonly>
              <label>Exam Total Price</label>
              <input id="LabP" type="text" class="form-control" style="width: 100%" value="0" readonly>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="box box-info" id="CutInfo" style="display:none">
      <div class="box-header with-border" id="CutHeader" style="color:#fff">
        <div class="form-group">
          <div class="col-md-2" style="padding-bottom:0%">
            <label>Name</label>
            <input id="GroupName" type="text" class="form-control" style="width: 100%" placeholder="New Auction"><option></option>
          </div>
          <div class="col-md-3" style="padding-bottom:0%">
            <label>Exam Products</label>
            <select id="exam" class="form-control"  style="width: 100%;height:34px" multiple="multiple"><option></option></select>
          </div>
          <div class="col-md-1" style="padding-bottom:0%">
            <label>E. Total</label>
            <input id="ETotal" type="number" class="form-control" style="width: 100%" value="0">
          </div>
          <div class="col-md-3" style="padding-bottom:0%">
            <label style="">Lab Products</label>
            <select id="lab" class="form-control" style="width: 100%;height:34px" multiple="multiple"><option></option></select>
          </div>
          <div class="col-md-1" style="padding-bottom:0%">
            <label>L. Total</label>
            <input id="LTotal" type="number" class="form-control" style="width: 100%" value="0">
          </div>          
          <div class="col-md-2" style="padding-bottom:0%;padding-top:1%">
            <button id="Release" type="button" class="btn btn-primary btn-lg btn-block" style="" onclick="NewGroup()">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <table class="display responsive" id="tablaS" style="width:100%">      
          <thead>
            <tr>
              <th name="id"></th>
              <th name="name">Name</th>
              <th name="last_name">Last Name</th>
              <th name="saldo">Budget</th> 
              <th name="codigo">Code</th> 
              <th name="examP">Exam Products</th> 
              <th name="examC">Exam Grade</th> 
              <th name="labP">Lab Products</th> 
              <th name="labC">Lab Grade</th> 
            </tr>
          </thead>
        </table>
      </div>
    </div>

  </div>
</div>

<script>
var tableS
tableS = $('#tablaS').DataTable( {
    responsive: true,
    keys: true,
    pageLength: 50,
    columnDefs: [
        {
            "targets": [0],
            "visible": false,
        }
    ]
} );
var c_error = 0;
 $.ajax({
    type: 'GET',
    url: 'transfer',
    success: function(data){
      var subjects = data['classes'];
      var NRCs = data['NRCs'];      
      var stdNames = data['students_names'];
      var stdIDs =  data['students_ids']; 
      var data2 = [];
      for(i = 0; i < subjects.length; i++){
        data2.push({id: i, text: subjects[i]})
      }
      $("#subject").select2({
        data: data2,
        placeholder: "Select a subject"
      });
      $("#subject").change(function() {
        $("#exam").html('<option></option>');
        $("#lab").html('<option></option>');
        $("#ExamP").val(0)
        $("#LabP").val(0)
        data_nrc = [];
        i_subj = $("#subject").val();
        if (i_subj) {
          for(i = 0; i < i_subj.length; i++){
            for(j = 0; j < NRCs[i_subj[i]].length; j++){
            data_nrc.push({id: j, text: NRCs[i_subj[i]][j]})
            }
          } 
        }
        $("#nrc").html('<option></option>');
        $("#nrc").select2({
          data: data_nrc,
          placeholder: "Select a NRC"
        });

        $("#nrc").change(function() {
          $("#ExamP").val(0)
          $("#LabP").val(0)
          i_nrc = $("#nrc").val();
          i_subj = $("#subject").val();
          console.log('indices nrc: ',i_nrc)
          console.log(i_nrc,i_subj)
          tableS.clear();
          tableS.draw();

          data_goods = []
          data_students = []
          ids_students = []
          products = []

          if (i_nrc && i_subj) {
            for(k = 0; k < i_subj.length; k++){
              for(i = 0; i < i_nrc.length; i++){
                for(j = 0; j < stdNames[i_subj[k]][i_nrc[i]].length; j++){
                  if (stdIDs[i_subj[k]][i_nrc[i]][j]) {
                    s = stdNames[i_subj[k]][i_nrc[i]][j]
                    tableS.row.add([stdIDs[i_subj[k]][i_nrc[i]][j], s[0],s[1],s[3],s[4],'',0,'',0 ]).draw(false);
                    ids_students.push(stdIDs[i_subj[k]][i_nrc[i]][j])
                  }                
                }
              } 
            }
          }


          $.ajax({
          type: 'GET',
          url: 'getGoods_at_NRC',
          data: {nrc: $('#nrc').select2('data')[0].text},
            success: function(data){
              data_goods = [];
              group_list = [];
              console.log('data',data['products'])
              data_students = data['b_products'];
              data_products = data['products'];
              groups_info = data['groups'];
              data_groups = [];

              for(i = 0; i < data['products'].length; i++){
                data_goods.push({id: i, text: data['products'][i]['name']})
              }

              for(j = 0; j < data['groups'].length; j++){
                data_groups.push({id: j, text: data['groups'][j]['group_name']});
              }

              $("#exam").html('<option></option>');
              $("#exam").select2({
                data: data_goods,
                placeholder: "Select the exam points"
              });
              $("#lab").html('<option></option>');
              $("#lab").select2({
                data: data_goods,
                placeholder: "Select the lab points"
              });

              $("#groups").select2({
                data: data_groups,
                placeholder: "Select the group"
              });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              if (c_error<1) {
                alert("Please check your data");
                c_error += 1;
              }  
              data_goods = []
            }
          });
          
          $("#Inputs").css('visibility', 'visible');

          $("#exam").change(function() { 
                total = 0
                entrada = $("#exam").val()
                if (entrada==null) {entrada = []}
                for (var i = 0; i < entrada.length; i++) {
                  total = total + data_products[entrada[i]]['price']
                }

                $("#ETotal").val(total)
                
          });

          $("#lab").change(function() {
                total = 0
                entrada = $("#lab").val()
                if (entrada==null) {entrada = []}
                for (var i = 0; i < entrada.length; i++) {
                  total = total + data_products[entrada[i]]['price']
                }

                $("#LTotal").val(total)
                //console.log(ids_students)
          });

          $("#groups").change(function() {
                ind = $("#groups").val();
                id = groups_info[ind]['id'];
                console.log(groups_info[ind]['id'])
                var totalL = 0;
                var totalE = 0;
                var Lproducts_selected_id = [];
                var Lproducts_selected_price = [];
                var Eproducts_selected_id = [];
                var Eproducts_selected_price = [];
                $.ajax({
                  type: 'GET',
                  url: 'getProducts_byGroup',
                  data: {id:id},
                  success: function(data){
                    totalL = data['lab_total']
                    totalE = data['exam_total']
                    $("#LabP").val(totalL)
                    $("#ExamP").val(totalE)

                    if (data['lab_items']!=null) {
                      for (var i = 0; i < data['lab_items'].length; i++) {
                        Lproducts_selected_id.push(data['lab_items'][i]['id'])
                        Lproducts_selected_price.push(data['lab_items'][i]['price'])
                      }
                      $("#LabQ").val(data['lab_items'].length)
                    }else{
                      $("#LabQ").val(0)
                    }

                    if (data['exam_items']!=null) {
                      for (var i = 0; i < data['exam_items'].length; i++) {
                        Eproducts_selected_id.push(data['exam_items'][i]['id'])
                        Eproducts_selected_price.push(data['exam_items'][i]['price'])
                      }
                      $("#ExamQ").val(data['exam_items'].length)
                    }else{
                      $("#ExamQ").val(0)
                    }

                    calcular(ids_students, data_students, Lproducts_selected_id, Lproducts_selected_price, totalL, 7)
                    calcular(ids_students, data_students, Eproducts_selected_id, Eproducts_selected_price, totalE, 5)
                      
                  }
                });
                
                
          });
        });

      });
    }
  });

function calcular(stdIDs, data_students, products_selected_id, products_selected_price, total, i_column) {
  console.log('compras: ',data_students)
  for (var i = 0; i < data_students.length; i++) {
    fila = stdIDs.indexOf(data_students[i]['user_id'])
    indice_producto = products_selected_id.indexOf(data_students[i]['offer_id'])
    if (i==0) { //reset
        tableS.cell(fila,i_column).data('')
        tableS.cell(fila,i_column+1).data(0)
      }
    if (indice_producto > -1){
      mensaje = tableS.cell(fila,i_column).data()
      mensaje = mensaje + '<font color="black">|' + data_students[i]['elemento'] + '| </font>' //intento de hacer distintivos los produc. adquiridos
      tableS.cell(fila,i_column).data(mensaje);

      str = String(tableS.cell(fila,i_column+1).data())
      bono = Number(str.split('">').pop().split('<').shift())
      bono = bono + products_selected_price[indice_producto]*(5/total)
      tableS.cell(fila,i_column+1).data('<font color="green">' + bono + '</font>');
    }
  }  
}

function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function showNew(){
  $('#CutInfo').show();
}

function NewGroup(){
  lab_items = $("#lab").val()
  exam_items = $("#exam").val()
  lab_items_list = [];
  exam_items_list = [];
  lab_total = 0
  exam_total = 0
  if(lab_items != null){
    for (var i = 0; i < lab_items.length; i++) {
      lab_items_list.push(data_products[lab_items[i]]['id'])
      //data_products[entrada[i]]['price']
      lab_total = lab_total + data_products[lab_items[i]]['price']
    }
  }
  
  if(exam_items != null){
    for (var i = 0; i < exam_items.length; i++) {
      exam_items_list.push(data_products[exam_items[i]]['id'])
      //data_products[entrada[i]]['price']
      exam_total = exam_total + data_products[exam_items[i]]['price']
    }
  }  

  name = $('#GroupName').val();
  nrc = $('#nrc').select2('data')[0].text;

  $.ajax({
    type: 'GET',
    url: 'new_product_group',
    data: {name:name, nrc:nrc, lab_items_list:lab_items_list, exam_items_list:exam_items_list, lab_total:lab_total, exam_total:exam_total},
    success: function(data){
      console.log("Exito")
      location.reload();
    }
  });
}

function DeleteGroup(){
  ind = $("#groups").val();
  id = groups_info[ind]['id'];
  console.log("el id es "+id)
  $.ajax({
    type: 'GET',
    url: 'delete_group',
    data: {id:id},
    success: function(data){
      location.reload();
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
    alert("An error has ocurred");
    }
  });
}


</script>
<style type="text/css">
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
</style>
