<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
  <h1>Welcome to ACS, <%= @resource.name %></h1>
  <p>
    You have successfully signed up to ACS,
    your username is: <%= @resource.email %>.<br>
    Go to this link to set your password: <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %> . <br><br>
    Remember you can change you password anytime you want.
  </p>

<p></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
  <h2>Thanks for joining and have a great day!</h2>
  <%= yield %>
</body>
</html>